<div class="container-fluid">
    <div class="row">

  <!-- {{missions | json}} -->
  <form class="form-horizontal" *ngIf="matchScoringForm" [formGroup]="matchScoringForm" novalidate (ngSubmit)="save()">
      <div class="panel panel-default">
          <div class='panel-heading'>
            <span>{{title}}</span>
          </div>
          <div class="panel-body">

      <div class='form-group col-md-2'>
        <label for='team'>Team</label>
        <input class='form-control' id='team' placeholder='Team' type='text' formControlName="team">
      </div>

      <div class='form-group col-md-2'>
        <label for='table-number'>Table Number</label>
        <input class='form-control' id='table-number' placeholder='Table Number' type='text' formControlName="tableNumber">
      </div>
      <div class='form-group col-md-2'>
          <label for='match-number'>Match Number</label>
          <input class='form-control' id='match-number' placeholder='Match Number' type='text' formControlName="matchNumber">
        </div>

      <div *ngFor="let mission of missions">
        <div class="panel-heading col-lg-12">
            <p> {{mission.missionDescription}}</p>
        </div>

        <div class="col-sm-6 col-lg-4" *ngFor="let item of mission.missionItems">
          <div class="form-group">
            <label for="cat1" class="col-md-4 control-label">{{item.questionDescription}}</label>
            <div class="col-md-5">
              <div [ngSwitch]="item.type">
                <div *ngSwitchCase="'string'">
                  <div class="btn-group" data-toggle="buttons">
                    <ng-container *ngFor="let list of item.optionListArray">
                      <label class="btn btn-primary">
                    <input type="radio" name="{{item.missionItemId}}" id="{{item.missionItemId}}" autocomplete="off">{{list}}
                        </label>
                    </ng-container>
                  </div>
                </div>

                <div *ngSwitchCase="'bool'">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                              <input type="radio" name="{{item.missionItemId}}" id="{{item.missionItemId}}" autocomplete="off"> Yes
                          </label>
                    <label class="btn btn-primary">
                          <input type="radio" name="{{item.missionItemId}}" id="{{item.missionItemId}}" autocomplete="off">No
                              </label>
                  </div>
                </div>

                <div *ngSwitchCase="'range'">
                  <div class="btn-group" data-toggle="buttons">
                    <ng-container *ngFor="let ranges of item.rangeListArray">
                    <label class="btn btn-primary active">
                              <input type="radio" name="{{item.missionItemId}}" id="{{item.missionItemId}}" autocomplete="off"> {{ranges}}
                          </label>
                        </ng-container>
                  </div>
                </div>
                <div *ngSwitchDefault>Nothing Found.</div>

              </div>

            </div>
          </div>
        </div>

      </div>



      <div class='form-group col-md-12'>
          <label for='signature'>Signature</label>
        </div>
        <div class='col-md-12'>
          <button type="submit" [disabled]="!matchScoringForm.valid">Save</button>
        </div>
      </div>
    </div>
    <!-- /.row this actually does not appear to be needed with the form-horizontal -->
  </form>
  <div class="sig-container" #sigContainer1>
      <label for='signature'>Signature</label>
    <app-signature formControlName="signature"></app-signature>
  </div>
</div>
<!--row div-->
</div>
<!-- /.container -->
