<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<div class="container-fluid">
  <div class="text-center">
    <h1>Bootstrap forms</h1>

  </div>
  <form class="form-horizontal" role="form">
    <div class="row">
      <div class="category col-lg-12">
        <div class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3">
          <p> M01 Shark Shipment</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="inputEmail" class="col-md-4 control-label">Tank and Shark are completely in Target</label>
          <div class="col-md-5">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Left</button>
              <button type="button" class="btn btn-secondary">Middle</button>
              <button type="button" class="btn btn-secondary">Right</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="inputPassword" class="col-md-4 control-label">Shark touching only tank floor (NOT wall)?</label>
          <div class="col-md-8">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Yes</button>
              <button type="button" class="btn btn-secondary">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="inputLabel3" class="col-md-4 control-label">Nothing touched the Shark except the tank?</label>
          <div class="col-md-8">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Yes</button>
              <button type="button" class="btn btn-secondary">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3">
        <p class="category">M02 Service Dog Action</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="inputLabel4" class="col-md-4 control-label">Warning Fence is down</label>
          <div class="col-md-8">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Yes</button>
              <button type="button" class="btn btn-secondary">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="input5" class="col-md-4 control-label">Robot completely crossed fence</label>
          <div class="col-md-8">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Yes</button>
              <button type="button" class="btn btn-secondary">No</button>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="input6" class="col-md-4 control-label">123456789012:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="input6" placeholder="input 6">
          </div>
        </div>
      </div>-->
      <div class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3">
        <p class="category">M03 Animal Conservation</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="input7" class="col-md-4 control-label">Pairs of Identical Animals completely on same side</label>
          <div class="col-md-8">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">0</button>
              <button type="button" class="btn btn-secondary">1</button>
              <button type="button" class="btn btn-secondary">2</button>
              <button type="button" class="btn btn-secondary">3</button>
              <button type="button" class="btn btn-secondary">4</button>
              <button type="button" class="btn btn-secondary">5</button>
              <button type="button" class="btn btn-secondary">6</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="input8" class="col-md-4 control-label">1234567890123456:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="input8" placeholder="input 8">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="input9" class="col-md-4 control-label">123456789012345678:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="input9" placeholder="input 9">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="input10" class="col-md-4 control-label">12345678901234567890:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="input10" placeholder="input 10">
          </div>
        </div>
      </div>
    </div>
    <!-- /.row this actually does not appear to be needed with the form-horizontal -->
  </form>
  <p>Note: label text will occupy as much space as the text takes regardless of the column size, so be sure to validate your
    spacing.
  </p>
</div>
<!-- /.container -->