<div class="container-fluid">
  <div class="text-center">
    <h1>Mindstorm {{title}} Form</h1>

  </div>
  <form class="form-horizontal" role="form">
    <div class="row">
      <div class="category col-lg-12">
        <div class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3">
          <p> M01 Shark Shipment</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="cat1" class="col-md-4 control-label">Tank and Shark are completely in Target</label>
          <div class="col-md-5">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> None 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off"> T1
                  </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option3" autocomplete="off"> T2
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="cat2 " class="col-md-4 control-label ">Shark touching only tank floor (NOT wall)?</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="inputLabel3 " class="col-md-4 control-label ">Nothing touched the Shark except the tank?</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M02 Service Dog Action</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="inputLabel4 " class="col-md-4 control-label ">Warning Fence is down</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input5 " class="col-md-4 control-label ">Robot completely crossed fence</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M03 Animal Conservation</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input7 " class="col-md-4 control-label ">Pairs of Identical Animals completely on same side</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> 0 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">1
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">2
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">3
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">4
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">5
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">6
              </label>
            </div>

          </div>
        </div>
      </div>
      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 "> M04 Feeding</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input8 " class="col-md-4 control-label ">Pieces of food completely in Animal Areas</label>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> 0 
              </label>
          <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">1
              </label>
          <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">2
              </label>
          <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">3
              </label>
          <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">4
              </label>
          <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">5
              </label>
          <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">6
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">7
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">8
              </label>
        </div>

        </div>
      </div>
      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 "> M05 Biomimicry</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Wall supports complete weight of White Gecko</label>
          <div class="col-md-8 ">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input10 " class="col-md-4 control-label ">Wall supports complete weight of Robot</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 "> M06 Milking Automation</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Milk AND Manure have all rolled out?</label>
          <div class="col-md-8 ">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Milk has all rolled out, but NOT Manure?</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M07 Panda Release</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Slider appears fully opened clockwise installed</label>
          <div class="col-md-8 ">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
          </div>
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M08 Camera Recovery</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Camera is completely in Base?</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M09 Training and Research</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Dog, Trainer completely in Training/Research Area?</label>
          <div class="col-md-8 ">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Zoologist completely in Training/Research Area?</label>
          <div class="col-md-8 ">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input8 " class="col-md-4 control-label ">Manure completely in Training/Research Area</label>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> 0 
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">1
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">2
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">3
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">4
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">5
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">6
              </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">7
              </label>           
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M10 Bee Keeping</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Bee is on Beehive with NO Honey in Beehive?</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Bee is on Beehive and Honey in Base?</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M11 Prosthesis</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Prosthesis fitted to Pet, NOT held by Ref?

    </label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Prosthesis fitted to Pet and completely in Farm?</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>


      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M12 Seal In Base</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Seal is completely in Base, NOT broken?      
    </label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M13 Milk In Base</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">All three Milk are completely in Base?
    </label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
            </div>
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M14 Milk On Ramp</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Select Best Option
    </label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked>None
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">A
                  </label>
                  <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">B
                  </label>
                  <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">C
                  </label>
            </div>
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">M15 All Samples</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">All seven Manure Samples completely in Training/Research Area?</label>
          <div class="col-md-8 ">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes 
              </label>
          <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">No
                  </label>
        </div>
          </div>
        </div>
      </div>

      <div class="category col-lg-12 ">
        <p class="col-md-8 col-lg-4 col-lg-offset-5 col-md-offset-3 ">P Penalties</p>
      </div>
      <div class="col-sm-6 col-lg-4 ">
        <div class="form-group ">
          <label for="input9 " class="col-md-4 control-label ">Number of Manure Samples in the white triangle area</label>
          <div class="col-md-8 ">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> 0 
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">1
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">2
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">3
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">4
              </label>
              <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off">5
              </label>             
            </div>
          </div>
        </div>
      </div>
      <div class='form-group '>
        <div class='col-md-offset-4 col-md-6 '>
          <button class='btn-lg btn-primary ' type='submit '>Submit</button>
        </div>
        <div class='col-md-6 '>
          <button class='btn-lg btn-danger ' style='float:right ' type='submit '>Cancel</button>
        </div>
      </div>

    </div>
    <!--row div-->
    <!-- /.row this actually does not appear to be needed with the form-horizontal -->
  </form>

</div>
<!-- /.container -->