<div class='container'>
    <div class='panel panel-primary dialog-panel'>
      <div class='panel-heading'>
        <h5>Match Entry Form</h5>
      </div>
      <div class='panel-body'>
        <form class='form-horizontal' role='form'>
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='team_name'>Team Name</label>
            <div class='col-md-2'>
              <div class='form-group internal'>
                <input class='form-control' id='team_name' placeholder='Team Name' type='text'>
              </div>
            </div>
          </div>
          <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='team_number'>Team Number</label>
              <div class='col-md-2'>
                <div class='form-group internal'>
                  <input class='form-control' id='team_number' placeholder='Team Number' type='text'>
                </div>
              </div>
            </div>
            <div class='form-group'>
                <label class='control-label col-md-2 col-md-offset-2' for='coach_first_name'>Coach First Name</label>
                <div class='col-md-2'>
                  <div class='form-group internal'>
                    <input class='form-control' id='coach_first_name' placeholder='Coach First Name' type='text'>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                  <label class='control-label col-md-2 col-md-offset-2' for='coach_last_name'>Coach Last Name</label>
                  <div class='col-md-2'>
                    <div class='form-group internal'>
                      <input class='form-control' id='coach_last_name' placeholder='Coach Last Name' type='text'>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                    <label class='control-label col-md-2 col-md-offset-2' for='coach_email'>Coach Email</label>
                    <div class='col-md-2'>
                      <div class='form-group internal'>
                        <input class='form-control' id='coach_email' placeholder='Coach Email' type='text'>
                      </div>
                    </div>
                  </div>
                  <div class='form-group'>
                      <label class='control-label col-md-2 col-md-offset-2' for='city'>City</label>
                      <div class='col-md-2'>
                        <div class='form-group internal'>
                          <input class='form-control' id='city' placeholder='City' type='text'>
                        </div>
                      </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-md-2 col-md-offset-2' for='state'>State</label>
                        <div class='col-md-2'>
                          <div class='form-group internal'>
                            <input class='form-control' id='state' placeholder='State' type='text'>
                          </div>
                        </div>
                      </div>
        </form>
      </div>
    </div>
  </div>
