<md-toolbar color="primary">

  <button md-icon-button [mdMenuTriggerFor]="appMenu">
   <md-icon>menu</md-icon>
</button>

  <md-menu #appMenu="mdMenu">
    <button md-menu-item>
  <md-icon>home</md-icon>
    <span> Home </span>
  </button>
    <a [routerLink]="['/scoreMatch']"><button md-menu-item> Match </button></a>
    <button md-menu-item> Pits </button>
    <button md-menu-item>
    <md-icon> send </md-icon>
    <span> Send </span>
  </button>
  </md-menu>

  <span class="spacer"> </span>
  <span>Mindstorm!</span>

</md-toolbar>