
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th>edit</th>
          <th>Team Name</th>
          <th>Team Number</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let team of teamList">
          <td>
            <a [routerLink]="['/teams', team.teamId, 'edit']">
              <md-icon class="edit">create </md-icon>
            </a>
          </td>
          <td>{{team.teamName}}</td>
          <td>{{team.teamNumber}}</td>
        </tr>
      </tbody>
    </table>
</div>
