
  <!-- <div class="table-responsive"> -->
    <div>
      <md-table #table [dataSource]="dataSource" mdSort>

          <ng-container mdColumnDef="edit">
              <md-header-cell *mdHeaderCellDef> edit </md-header-cell>
              <md-cell *mdCellDef="let row"> <a [routerLink]="['/teams', row.teamId, 'edit']">
                <md-icon class="edit">create </md-icon>
              </a> </md-cell>
            </ng-container>

            <ng-container mdColumnDef="teamName">
                <md-header-cell *mdHeaderCellDef md-sort-header> Team Name </md-header-cell>
                <md-cell *mdCellDef="let team"> {{team.teamName}}</md-cell>
              </ng-container>

              <ng-container mdColumnDef="teamNumber">
                  <md-header-cell *mdHeaderCellDef md-sort-header> Team Number </md-header-cell>
                  <md-cell *mdCellDef="let team">{{team.teamNumber}} </md-cell>
                </ng-container>

                <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
                <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
              </md-table>
            </div>

        <!-- <tr *ngFor="let team of teamList">
          <td>
            <a [routerLink]="['/teams', team.teamId, 'edit']">
              <md-icon class="edit">create </md-icon>
            </a>
          </td>
          <td>{{team.teamName}}</td>
          <td>{{team.teamNumber}}</td>
        </tr>
      </tbody>
    </table>
</div>-->
